lesson-01-data-ingestion/*.csv
lesson-01-data-ingestion/ny_taxi_data

lesson-02-terraform/*.json

lesson-04-airflow-pipeline/.google/credentials/*.json
lesson-04-airflow-pipeline/logs
lesson-04-airflow-pipeline/plugins

lesson-06-dbt/.google/credentials/*.json
lesson-06-dbt/dbt/taxi_rides_ny/target/*